body{
    background-color: #DCDCDC;
    margin: 0 auto;
}

header{
    width:100%;
    height:80px;
    background-color: #3a3333;

}

header img{
    margin-left: 20px;
    margin-top: 7px;
}

header ul{
    font-size:14px;

}

.nav_1{
    float:right;
    margin-top:20px;
}


header li {
    display: inline;
    margin-right:30px;
}


header a{
    text-decoration:none;
    color:white;
}

header a:hover{
    color:gray;
}

section{
    border: 1px solid gray;
    width: 1397px;
    margin-top: 18px;
    margin-left: 20px;
    background-color: white;
}

#article{
    margin-left:20px;
}

h2.text_1{
    font-size:18px;
    color:gray;
}

p.text_2{
    font-size:12px;
     color:gray;
}


p.text_3{
    text-indent:2em;
}

.nav_2{
     margin-left:20px;
 }

.nav_2 a{
    text-decoration:none;
}

.box{
    border:1px solid gray;
    width:700px;
    margin-top:20px;
    text-align:center;
    height:350px;
    padding-top:12px;
}

figcaption{
    margin-bottom:10px;
}

table{
    width:1300px;
     font-size:13px;
     border-spacing:0;
}

th{
    background-color:black;
    color:white;
    text-align:left;
}

tr{
     border: 1px solid  #DCDCDC;
 }

tr.example{
    background-color:gray;
}

#article_4{
    margin-left:20px;
    height:420px;
}

.text_4{
    margin-left:20px;
}



#article_5{
    margin-left:20px;
    height:500px;
    font-size:15px;
    text-align:center;
}


button{
    background-color: blue;
    width: 1300px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    height: 43px;
    margin-left: -616px;
}

.text_6{
    font-size: 13px;
    color: grey;
    margin-left: 140px;
}

.text_7{
    line-height: 40px;
    text-align: right;
    position: relative;
    margin-right: 566px;
}


.text_8{
    font-size: 13px;
    margin-left: 140px;
    color: grey;
    margin-top: -8px;
}


.text_9{
    text-align: left;
    position: relative;
    margin-left: 646px;
    line-height:40px;
}


.spacing{
    margin-left: -24px;
    margin-right: 20px;
}

.spacing1{
    margin-left: -51px;
    margin-right: 20px;
}

#msg{
    vertical-align:text-top;
    margin-bottom:10px;
}


footer{
    width:100%;
    height:80px;
    background-color:black;
    color:white;
    text-align:center;
    font-size:10px;
    line-height:80px;
}




