
#box{
    margin:2em;
    height:600px;
    border:1px solid grey;
    padding:20px;
    background-color:#eee;

}

.box_1{
    width:200px;
    height:100px;
    border:1px solid #999;
    background-color:white;

}

img{
    margin-left:14px;
    margin-top:12px;
}

.text_1{
    float: right;
    margin-right: 5px;
    margin-top: 8px;
}

.box_2{
    width: 900px;
    height: 300px;
    border: 1px solid #999;
    position: relative;
    margin-top: -102px;
    margin-left: 245px;
    background-color: white;
}

.text_2{
    position: absolute;
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;

}

.box_3{
    background-color: white;
    border: 1px solid #999;
    width: 120px;
    height: 402px;
    float: right;
    margin-top: -302px;
}


.box_3 ul {
    list-style: none;
    margin-left: -43px;
    margin-top: 0;
}


.box_3 li{
    line-height:40px;
}
